WebApiExamen/.vs/
WebApiExamen/.vs/ProjectEvaluation/
WebApiExamen/.vs/sd/
WebApiExamen/.vs/WebApiExamen/
WebApiExamen/bin/
WebApiExamen/obj/Debug/
WebApiExamen/obj/Debug/net8.0/
WebApiExamen/obj/Debug/net8.0/ref/
WebApiExamen/obj/Debug/net8.0/EndointInfo/
